
html {
    background-image: url(freedom.jpg);
}
h1 {
    color: white;
    font: normal 25px arial;
    text-align: center;
    font-weight: bold;
}
div {
    background: rgb(241, 247, 166);
    color:black;
    border-radius: 10px;
    padding: 15px;
    font: normal 18px arial;
    border: black;
    text-align: justify;
}
div p {
    text-align: center;
}

