h1{
    color: white;
    font: normal 25px arial;
    text-align: center;
}

div
{
    background: rgb(241, 247, 158);
    color:black;
    border-radius: 10px;
    padding: 15px;
    font: normal 18px arial;
    border: black;
    text-align: justify;
}
html 
{
    background-image: url(freedom.jpg);
}
